
.imgslide.is-selected{
    transform: translateX(0);
}
.imgslide{
    transform: translateX(-100%);
    transition: all 1s ease-out;
}
.imgslide.is-selected~.imgslide{
    transform: translateX(100%);
}

